In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Carregamento de dados

In [2]:
path_collaborative = 'https://raw.githubusercontent.com/somyamakkad97/Tourist-Recommender-System/master/data_collaborative.csv'
path_content = 'https://raw.githubusercontent.com/somyamakkad97/Tourist-Recommender-System/master/data_content.csv'

In [3]:
dados_collaborative = pd.read_csv(path_collaborative)
dados_content = pd.read_csv(path_content)

In [8]:
dados_collaborative = dados_collaborative.fillna(0)
dados_content = dados_content.fillna(0)

# Exercicio 8

In [10]:
media_user_id = dados_collaborative.groupby(['userId']).agg(rating = pd.NamedAgg('rating', 'mean')).reset_index()
media_user_id

   userId   rating
0       1  1.75000
1       2  2.31250
2       3  2.12500
3       4  2.25000
4       5  2.40625
5       6  2.21875
6       7  2.18750
7       8  1.90625
8       9  2.15625

In [11]:
media_item_id = dados_collaborative.groupby(['itemId']).agg(rating = pd.NamedAgg('rating', 'mean')).reset_index()
media_item_id

    itemId    rating
0        1  1.555556
1        2  2.333333
2        3  1.888889
3        4  2.111111
4        5  1.444444
5        6  2.666667
6        7  1.666667
7        8  2.555556
8        9  2.333333
9       10  2.666667
10      11  1.111111
11      12  3.333333
12      13  1.888889
13      14  2.444444
14      15  2.000000
15      16  1.555556
16      17  1.666667
17      18  2.555556
18      19  2.111111
19      20  2.666667
20      21  1.666667
21      22  1.777778
22      23  2.555556
23      24  2.444444
24      25  2.000000
25      26  1.555556
26      27  2.777778
27      28  2.222222
28      29  3.000000
29      30  1.111111
30      31  3.222222
31      32  1.777778

# Exercicio 9

In [13]:
media_category = dados_content.groupby(['category']).agg(p_rating = pd.NamedAgg('p_rating', 'mean')).reset_index()
media_category

                category  p_rating
0               Heritage  3.760000
1       Heritage, Museum  4.000000
2   Heritage, Pilgrimage  2.525000
3                 Museum  2.950000
4                   Park  3.333333
5             Pilgrimage  3.883333
6               Wildlife  2.200000

In [14]:
media_distance = dados_content.groupby(['distance']).agg(p_rating = pd.NamedAgg('p_rating', 'mean')).reset_index()
media_distance

    distance  p_rating
0      1 Kms  4.200000
1     11 Kms  3.233333
2     13 Kms  4.600000
3   13.5 Kms  2.000000
4     14 Kms  3.325000
5   14.5 Kms  3.700000
6     15 Kms  4.500000
7      4 Kms  4.400000
8     40 Kms  4.800000
9      5 Kms  4.250000
10   5.5 Kms  2.350000
11     6 Kms  3.942857
12   6.5 Kms  5.000000
13     7 Kms  1.333333
14     9 Kms  1.900000

In [15]:
media_duration = dados_content.groupby(['duration']).agg(p_rating = pd.NamedAgg('p_rating', 'mean')).reset_index()
media_duration

           duration  p_rating
0            1 Hour  2.842857
1         1-2 Hours  4.011111
2   15 Mins or Less  3.500000
3           2 Hours  3.100000
4         2-3 Hours  5.000000
5           30 Mins  3.330000
6  4 Hours/Half Day  4.800000